registry=https://<GCP_REGION>-npm.pkg.dev/<GCP_PROJECT>/<ARTIFACT_REGISTRY_JS_REPO_NAME>/
//<GCP_REGION>-npm.pkg.dev/<GCP_PROJECT>/<ARTIFACT_REGISTRY_JS_REPO_NAME>/:always-auth=true
//<GCP_REGION>-npm.pkg.dev/<GCP_PROJECT>/<ARTIFACT_REGISTRY_JS_REPO_NAME>/:_password=<ARTIFACT_REGISTRY_JS_KEY>
//<GCP_REGION>-npm.pkg.dev/<GCP_PROJECT>/<ARTIFACT_REGISTRY_JS_REPO_NAME>/:username=_json_key_base64
//<GCP_REGION>-npm.pkg.dev/<GCP_PROJECT>/<ARTIFACT_REGISTRY_JS_REPO_NAME>/:email=not.valid@email.com